.NewsCalendar{
    margin-top: 50px;
}
.NewsCalendar-title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.NewsCalendar-title h5{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #04365B;
    &:last-of-type{
        margin-right: 170px;
    }
}
.NewsCalendar-container{
    display: grid;
    margin-top: 50px;
    column-gap: 50px;
    grid-template-columns: 1fr calc(320px + 50px)
}
.NewsCalendar-container-aside{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 285px 1fr;
    row-gap: 24px;

}
.NewsCalendar-container-content{
    display: flex;
    flex-direction: column;
    gap: 45px;
}