main.main{
  padding: 56px 116px 0;
  }
@media screen and (max-width: 768px){
  main.main{
  padding: 56px 56px 0;
}
}@media screen and (max-width: 579px){
  main.main{
    padding: 56px 16px 0;
  }
}