.slider-erit{
  margin-top: 15px;
  position: relative;
}
.slider-item-erit{
  height: 380px;
  width: 100%;
  position: relative;
  img{
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
    object-position: center;
  }
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: white;

}.swiper-pagination-bullet{
   background: #A0A0A0;
   border: 1px solid #C4C4C4;
   width: 10px;
   height: 10px;
 }
.swiper-button-next:after{
    content: url("../slider-images/next.svg");
}
.swiper-button-prev:after{
  content: url("../slider-images/prev.svg");
}

.marquee-container{
  background: linear-gradient(90deg, #2E22AC 0%, #DE4B9C 100%);
  height: 50px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
}
.marquee-title{
  float: left;
  align-items: center;
  line-height: 2px;
  padding: 0 0 0 34px;
  display: inline-flex;

  span{
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;

  }
}
.marquee-erit{
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
}